/*
Sets the size of the left column

html body div.md-container div.md-main__inner div.md-content {
    margin-left: 16rem;
}

html body div.md-container div.md-main__inner div.md-sidebar--primary {
    width: 16rem;
}
*/

/*Nowrap on first row of tables*/
html body div.md-container table tr td:first-child {
    white-space: nowrap;
}

/*Highlight on mouseover
html body div.md-container table tr:hover {background-color: #f5f5f5;}*/

/*Striped tables*/
html body div.md-container table tr:nth-child(even) {background-color: #f2f2f2;}

/*Limit 3'rd column width*/
html body div.md-container table td:nth-child(3) {
	min-width: 5px;
	padding-right: 8px !important;
	padding-left: 8px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	vertical-align: middle;
}

html body div.md-container table th:nth-child(3) {
	min-width: 5px;
	padding-right: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 0px !important;
	text-align: left;
}

/*Reduce padding in table body*/
html body div.md-container table td {
    padding-top: 8px !important;
	padding-bottom: 8px !important;
}

/*Attempt to make width of these tables extend to full width available*/
/*html body div.md-container table{width: 100% !important;}*/


/*Coloring of top bar*/
[data-md-color-primary=indigo] .md-header, [data-md-color-primary=indigo] .md-hero {
  background-color: #bb0c0d;
}

/*Coloring of main header*/
.md-typeset h1 {
    color: #bb0c0d;
}

/*Coloring of secondary header*/
h2{
    color: #bb0c0d;
}
