/*
Sets the size of the left column

html body div.md-container div.md-main__inner div.md-content {
    margin-left: 16rem;
}

html body div.md-container div.md-main__inner div.md-sidebar--primary {
    width: 16rem;
}
*/


#string {
    content:url(https://github.com/MisterStump/TTS-Scripting-Doc/raw/master/docs/img/string.png);
    display:inline;
}


#t1 {
    content:url(/img/string.png);
}


#t2 {
    content:url(/img/string.png);
}


#t3 {
    content:url(https://github.com/MisterStump/TTS-Scripting-Doc/raw/master/docs/img/string.png);
}

.ico_str:before {
    content: "string";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #98c379;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_str:hover {
    opacity: 0.75;
}

.ico_tab:before {
    content: "table";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #D3D3D3;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_tab:hover {
    opacity: 0.75;
}

.ico_int:before {
    content: "int";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_int:hover {
    opacity: 0.75;
}

.ico_flo:before {
    content: "float";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_flo:hover {
    opacity: 0.75;
}



.test {
    background-color: lightblue;
    color: yellow;
}









/*Nowrap on first row of tables*/
html body div.md-container table tr td:first-child {
    white-space: nowrap;
}

/*Highlight on mouseover
html body div.md-container table tr:hover {background-color: #f5f5f5;}*/

/*Striped tables*/
html body div.md-container table tr:nth-child(even) {background-color: #f2f2f2;}

/*Limit 3'rd column width*/
html body div.md-container table td:nth-child(3) {
	min-width: 5px;
	padding-right: 8px !important;
	padding-left: 8px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	vertical-align: middle;
}

html body div.md-container table th:nth-child(3) {
	min-width: 5px;
	padding-right: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 0px !important;
	text-align: left;
}

/*Reduce padding in table body*/
html body div.md-container table td {
    padding-top: 8px !important ;
	padding-bottom: 8px !important;
}

/*Attempt to make width of these tables extend to full width available*/
/*html body div.md-container table{width: 100% !important;}*/


/*Coloring of top bar*/
[data-md-color-primary=indigo] .md-header, [data-md-color-primary=indigo] .md-hero {
  background-color: #bb0c0d;
}

/*Coloring of main header*/
.md-typeset h1 {
    color: #bb0c0d;
}

/*Coloring of secondary header*/
h2{
    color: #bb0c0d;
}

/*Coloring of third header*/
h3 {
    color: #580505;
}

/*Coloring of permalink icon*/
[data-md-color-accent=indigo] .md-nav__link:focus, [data-md-color-accent=indigo] .md-nav__link:hover, [data-md-color-accent=indigo] .md-typeset .footnote li:hover .footnote-backref:hover, [data-md-color-accent=indigo] .md-typeset .footnote li:target .footnote-backref, [data-md-color-accent=indigo] .md-typeset .md-clipboard:active:before, [data-md-color-accent=indigo] .md-typeset .md-clipboard:hover:before, [data-md-color-accent=indigo] .md-typeset [id] .headerlink:focus, [data-md-color-accent=indigo] .md-typeset [id]:hover .headerlink:hover, [data-md-color-accent=indigo] .md-typeset [id]:target .headerlink {
    color: #bb0c0d;
}
