html body div.md-container div.md-main__inner div.md-content {
    margin-left: 16rem;
}

html body div.md-container div.md-main__inner div.md-sidebar--primary {
    width: 16rem;
}

html body div.md-container table tr>td {
    white-space: nowrap;
}
