/*String*/
.ico_str:before {
    content: "string";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #98c379;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_str:hover {
    opacity: 0.75;
}

/*Table*/
.ico_tab:before {
    content: "table";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #D3D3D3;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_tab:hover {
    opacity: 0.75;    
}

/*Intiger*/
.ico_int:before {
    content: "int";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_int:hover {
    opacity: 0.75;
}

/*Float*/
.ico_flo:before {
    content: "float";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_flo:hover {
    opacity: 0.75;
}

/*Nil*/
.ico_nil:before {
    content: "nil";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: inherit;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.ico_nil:hover {
    opacity: 0.75;
}

/*Bool*/
.ico_boo:before {
    content: "bool";
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    padding: 2px 5px;
    border-radius: 6px;
    display: inline;
    background-color: #BA8BA1;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 2px;
}
.ico_boo:hover {
    opacity: 0.75;
}
