/*String*/
.ret_str:before {
    content: "return string";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline;
    background-color: #98c379;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 1px;
    
    float: left;
    width: 44px;
    line-height: 1;
}
.ret_str:hover {
    opacity: 0.75;
}

/*Table*/
.ret_tab:before {
    content: "return table";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline;
    background-color: #D3D3D3;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 1px;
    
    float: left;
    width: 44px;
    line-height: 1;
}
.ret_tab:hover {
    opacity: 0.75;    
}

/*Intiger*/
.ret_int:before {
    content: "return int";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 1px;
    
    float: left;
    width: 44px;
    line-height: 1;
}
.ret_int:hover {
    opacity: 0.75;
}

/*Float*/
.ret_flo:before {
    content: "return float";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline;
    background-color: #e74c3c;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 1px;
    
    float: left;
    width: 44px;
    line-height: 1;
}
.ret_flo:hover {
    opacity: 0.75;
}

/*Bool*/
.ret_boo:before {
    content: "return bool";
    color: #000000;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    padding: 1px 4px;
    border-radius: 6px;
    display: inline;
    background-color: #BA8BA1;
    box-shadow: 2px 2px #696969;
    position: relative;
    bottom: 1px;
    
    float: left;
    width: 44px;
    line-height: 1;
}
.ret_boo:hover {
    opacity: 0.75;
}
